html {
  overflow: hidden;
}

#canvas {
  position: relative;
}

#bg-container {
  position: absolute;
}

#shelf-back-container {
  position: absolute;
  right: -10px;
  bottom: -980px;
}

#desk-front-container {
  position: absolute;
  left: 0;
  bottom: -1150px;
}

#flicker-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
}
